:root {
    --clr-purple-haze-100: #210535;
    --clr-purple-haze-300: #430d4b;
    --clr-purple-haze-500: #7b337d;
    --clr-purple-haze-700: #c874b2;
    --clr-purple-haze-900: #f5d5e0;

    --clr-nebula-100: #013026;
    --clr-nebula-300: #014760;
    --clr-nebula-500: #107e57;
    --clr-nebula-700: #a1ce3f;
    --clr-nebula-900: #cbe58e;

    --clr-eclipsed-100: #000000;
    --clr-eclipsed-300: #051427;
    --clr-eclipsed-500: #530f1e;
    --clr-eclipsed-700: #a44322;
    --clr-eclipsed-900: #f8bc04;

    --clr-galactic-forest-100: #081448;
    --clr-galactic-forest-300: #282157;
    --clr-galactic-forest-500: #1a2c80;
    --clr-galactic-forest-700: #4a478a;
    --clr-galactic-forest-900: #da8a8b;

    --clr-far-away-100: #062c43;
    --clr-far-away-300: #054569;
    --clr-far-away-500: #5591a9;
    --clr-far-away-700: #9ccddc;
    --clr-far-away-900: #ced7e0;

    --clr-made-of-stars-100: #011307;
    --clr-made-of-stars-300: #001736;
    --clr-made-of-stars-500: #00481a;
    --clr-made-of-stars-700: #155e89;
    --clr-made-of-stars-900: #9aeadd;

    --clr-supernova-100: #0b1f3a;
    --clr-supernova-300: #76101e;
    --clr-supernova-500: #133769;
    --clr-supernova-700: #c9374c;
    --clr-supernova-900: #c2dde4;

    --clr-luna-100: #101b39;
    --clr-luna-300: #333136;
    --clr-luna-500: #6f6d72;
    --clr-luna-700: #b4b1b8;
    --clr-luna-900: #e9e8ee;

    --ff-primary: "Strait", sans-serif;
    --ff-secondary: "Bellefair", serif;

    --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
    --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
    --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
    --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
    --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
    --line-height: 1.5;
    --line-height-header: 1.1;
    --flow-spacer: calc(var(--line-height) * var(--size-step-0));
    --flow-spacer-2x: calc(var(--line-height) * var(--size-step-3));
    --measure: 60ch;
    --measure-header: 20ch;
    --btn-opacity-low: 0.3;
    --max-media-width: 560px;
    --backdrop-blur: 1.5rem;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: inline-block;
    max-inline-size: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
    color: inherit;
}

html,
#root,
main {
    height: 100%;
}

html {
    color-scheme: dark light;
}

body {
    --bg-color: var(--clr-supernova-100);
    --img-outline-color: var(--clr-supernova-300);
    --text-color: var(--clr-supernova-900);
    --text-color-secondary: var(--clr-supernova-500);
    --nav-color: var(--clr-supernova-700);
    --nav-color-hover: var(--clr-supernova-900);
    --date-btn-outline-clr: var(--clr-supernova-700);
    --select: var(--clr-supernova-300);
    font-family: var(--ff-primary);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--size-step-1);
    max-width: 100%;
    min-height: 110vh;
    text-rendering: optimizeSpeed;
    line-height: var(--line-height);
}

::selection {
    background-color: var(--select);
}

body:has(dialog[open]) {
    overflow: hidden;
}

.flow > * + * {
    margin-block-start: var(--flow-spacer, 1em);
}

h1,
h2,
h3,
h4 {
    line-height: var(--line-height-header);
    max-inline-size: var(--measure-header);
    /* text-wrap: balance; */
}
p {
    max-inline-size: var(--measure);
}

header {
    padding-inline: 1rem;
    position: relative;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: var(--size-step-0);
    padding: 1em;
    position: fixed;
    inset: auto 0 0 0;
    background-color: hsla(0, 0%, 100%, 0.2);
    backdrop-filter: blur(var(--backdrop-blur));
}
nav :nth-child(3) {
    margin-inline-end: calc(clamp(2em, 5vw, 4em) * -2);
}

dialog {
    --flow-spacer: var(--flow-spacer-2x);
    padding: 2rem;
    box-sizing: content-box;
    background-color: transparent;
    color: var(--nav-color);
    margin: auto;
    user-select: none;
    font-size: var(--size-step-2);
    letter-spacing: 2px;
    backdrop-filter: blur(var(--backdrop-blur)) brightness(70%);
    border: none;
}

.flow-flexible dialog {
    --flow-spacer: 0;
}

form {
    min-width: clamp(15rem, 70vw, 35rem);
}
.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-wrapper > * {
    outline: 1px solid;
    padding: 0;
    outline-offset: 0.5em;
}

::backdrop {
    backdrop-filter: blur(1.5rem) brightness(50%);
}
label {
    display: block;
}
input[type="date"] {
    background-color: transparent;
    border: none;
    backdrop-filter: brightness(10%);
    /* outline: 1px solid;
    outline-offset: 0.5em; */
    /* color: var(--clr-nebula-700); */
}

button {
    padding: 0.75em 1.25em;
    background-color: transparent;
    outline: 1px solid;
    cursor: pointer;
    text-transform: capitalize;
    color: inherit;
    border: none;
    backdrop-filter: blur(var(--backdrop-blur)) brightness(10%);
    user-select: none;
}
button:is(:hover, :focus-visible):not(:disabled) {
    color: var(--nav-color-hover);
    outline-width: 2px;
}
button:active:not(:disabled) {
    color: var(--text-color-secondary);
}
button:disabled {
    opacity: var(--btn-opacity-low);
    cursor: default;
}

main {
    display: flex;
    place-content: center;
}

article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: var(--size-step-2);
    text-align: center;
    padding-inline: var(--size-step-0);
    padding-block: 3rem 7rem;
    text-align: left;
}

article img {
    outline: 1px solid;
    outline-offset: 7px;
    border: 1px solid;
    cursor: zoom-in;
}
.article-image {
    max-inline-size: var(--max-media-width);
}

.title {
    text-transform: uppercase;
    font-size: var(--size-step-4);
    letter-spacing: 0.1em;
    /* border-bottom: 1px solid; */
}
.copyright {
    font-family: var(--ff-secondary);
    /* color: var(--text-color-secondary); */
    /* border-top: 1px solid; */
}
.explanation {
    padding: var(--size-step-3);
    margin-inline: auto;
    /* padding-block: var(--size-step-3); */
    border-top: 1px solid;
}

.m-inline-end-sm {
    margin-inline-end: clamp(2em, 5vw, 4em);
}
.m-inline-start-auto {
    margin-inline-start: auto;
}

.button-date {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    backdrop-filter: none;
}
.button-date::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 40%;
    background: linear-gradient(
        to left,
        var(--date-btn-outline-clr),
        transparent,
        transparent
    );
    z-index: -2;
    filter: blur(3px);
    /* animation: spin 8s linear infinite; */
}
.button-date::after {
    content: "";
    inset: 2px;
    position: absolute;
    background-color: var(--bg-color);
    border-radius: 5px;
    z-index: -1;
}
.btn-close-modal {
    display: block;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-family: var(--ff-secondary);
    font-size: 1.25em;
    margin-inline: auto;
    margin-block-start: 1em;
    padding: 0.125em 0.25em;
    opacity: var(--btn-opacity-low);
    transition: opacity 150ms ease-in;
}
.btn-close-modal:is(:hover, :focus-visible) {
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* @media screen and (min-width: 800px) {
    .text-container {
        display: grid;
        column-gap: 2rem;
        grid-template-areas:
            " . . ."
            "title . explanation"
            ". . explanation"
            "copyright . explanation"
            ". . explanation"
            ". . ."
            ". . .";
    }
    .title,
    .copyright {
        text-align: left;
    }
} */

@media screen and (max-width: 1130px) {
    .text-container {
        text-align: center;
    }
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
