:root {
    --clr-purple-haze-100: #210535;
    --clr-purple-haze-300: #430d4b;
    --clr-purple-haze-500: #7b337d;
    --clr-purple-haze-700: #c874b2;
    --clr-purple-haze-900: #f5d5e0;

    --clr-nebula-100: #013026;
    --clr-nebula-300: #014760;
    --clr-nebula-500: #107e57;
    --clr-nebula-700: #a1ce3f;
    --clr-nebula-900: #cbe58e;

    --clr-eclipsed-100: #000000;
    --clr-eclipsed-300: #051427;
    --clr-eclipsed-500: #530f1e;
    --clr-eclipsed-700: #a44322;
    --clr-eclipsed-900: #f8bc04;

    --clr-galactic-forest-100: #081448;
    --clr-galactic-forest-300: #282157;
    --clr-galactic-forest-500: #1a2c80;
    --clr-galactic-forest-700: #4a478a;
    --clr-galactic-forest-900: #da8a8b;

    --clr-far-away-100: #062c43;
    --clr-far-away-300: #054569;
    --clr-far-away-500: #5591a9;
    --clr-far-away-700: #9ccddc;
    --clr-far-away-900: #ced7e0;

    --clr-made-of-stars-100: #011307;
    --clr-made-of-stars-300: #001736;
    --clr-made-of-stars-500: #00481a;
    --clr-made-of-stars-700: #155e89;
    --clr-made-of-stars-900: #9aeadd;

    --clr-supernova-100: #0b1f3a;
    --clr-supernova-300: #76101e;
    --clr-supernova-500: #133769;
    --clr-supernova-700: #c9374c;
    --clr-supernova-900: #c2dde4;

    --clr-luna-100: #101b39;
    --clr-luna-300: #333136;
    --clr-luna-500: #6f6d72;
    --clr-luna-700: #b4b1b8;
    --clr-luna-900: #e9e8ee;

    --flow-spacer: 3em;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

html,
body,
#root,
main {
    height: 100%;
}

html {
    color-scheme: dark light;
}

body {
    --bg-color: var(--clr-nebula-100);
    --text-color: var(--clr-nebula-900);
    --nav-color: var(--clr-nebula-700);
    --nav-color-hover: var(--clr-nebula-900);
    font-family: "Strait", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-height: 100%;
    max-width: 100%;
}

.flow > :where(:not(:first-child)) {
    margin-block-start: var(--flow-spacer, 1em);
}

header {
    padding-inline: 1rem;
    position: relative;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
input[type="checkbox"]:is(:hover, :focus-visible) + label {
    outline: 1px solid red;
    user-select: none;
}
label {
    cursor: pointer;
    display: inline-block;
    transition: scale 300ms linear;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 10;
    border-radius: 50%;
}
label:hover {
    scale: 1.1;
}
label:active {
    scale: 0.9;
}
label::before {
    content: "";
    display: inline-block;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 1px solid var(--clr-luna-700);
    background-color: var(--clr-luna-300);
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    /* gap: 2em; */
    padding: 1em;
    position: fixed;
    inset: auto 0 0 0;
    color: var(--nav-color);
    background: linear-gradient(to top, var(--clr-luna-300), transparent);
}
nav :nth-child(3) {
    margin-inline-end: calc(clamp(2em, 5vw, 4em) * -2);
}
/* nav :is(:last-child, :first-child){
    margin-inline-start: auto;
} */
/* #nav-toggle:checked ~ nav {
    transform: translateY(-200%);
} */

button {
    padding: 0.75em 1.25em;
    background-color: transparent;
    outline: 1px solid;
    cursor: pointer;
    text-transform: capitalize;
    color: inherit;
    border: none;
    backdrop-filter: blur(5px) brightness(80%);
}
button:hover {
    color: var(--nav-color-hover);
    outline-width: 2px;
}

main {
    display: flex;
    place-content: center;
}

article {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.2;
    overflow: hidden;
    isolation: isolate;
}

article img {
    position: absolute;
    z-index: -1;
    inset: -5vw;
    object-fit: cover;
    inset: 0;
}

.text-container {
    display: grid;
    padding: 2em;
    text-align: center;
    grid-template-areas:
        " . title ."
        ". copyright ."
        "explanation explanation explanation"
        "explanation explanation explanation"
        "explanation explanation explanation"
        ". . ."
        ". . .";
    gap: 2rem;
    height: 100%;
    user-select: none;
    transition: column-gap 400ms ease-in, opacity 200ms ease-in,
        backdrop-filter 400ms ease-in;
    backdrop-filter: blur(7px) brightness(0.3);
    overflow-y: scroll;

    /* background: transparent; */
    column-gap: 15em;
    opacity: 0;
}
.text-container:hover {
    column-gap: clamp(2em, 1vw, 8rem);
    opacity: 1;
}

.title {
    text-transform: uppercase;
    font-size: clamp(2em, 5vw, 3.5em);
    letter-spacing: 0.1em;
    grid-area: title;
}
.explanation {
    grid-area: explanation;
    font-size: 1.5em;
}
.copyright {
    grid-area: copyright;
}
.m-inline-end-sm {
    margin-inline-end: clamp(2em, 5vw, 4em);
}
.m-inline-start-auto {
    margin-inline-start: auto;
}

@media screen and (min-width: 800px) {
    .text-container {
        grid-template-areas:
            " . . explanation"
            "title . explanation"
            ". . explanation"
            "copyright . explanation"
            ". . explanation"
            ". . ."
            ". . .";
    }
    .title,
    .copyright {
        text-align: left;
    }
    .explanation {
        text-align: right;
    }
}
